<footer class="footer">
<div class="col-3"> 
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quisquam cumque rem alias sit beatae eaque corporis inventore! 
      Tempore deleniti error, cupiditate cumque modi in quasi hic eos nostrum itaque!
   </p>
</div>
 
 <div class="col-1">
    <ul class="unstyled-list">
     <li><strong>Shoreditch</strong></li>
     <li>Shoreditch</li>
     <li>fooo</li>
     <li>baaa</li>
     <li>heello</li>
    </ul>
</div>

 <div class="col-1">
    <ul class="unstyled-list">
     <li><strong>Shoreditch</strong></li>
     <li>Shoreditch</li>
     <li>fooo</li>
     <li>baaa</li>
     <li>heello</li>
    </ul>
</div>

 <div class="col-1">
    <ul class="unstyled-list">
     <li><strong>Shoreditch</strong></li>
     <li>Shoreditch</li>
     <li>fooo</li>
     <li>baaa</li>
     <li>heello</li>
    </ul>
</div>

</footer>