<header>
  <img src="/src/img/an-light-logo.png" alt="AN Develops logo" class="logo">
 <nav>
   <ul>
     <li><a href="">Home</a></li>
     <li><a href="">About</a></li>
     <li><a href="">Insite</a></li>
     <li><a href="">Contact</a></li>
   </ul>
 </nav>

 <section class="home-hero">
 <h1 class="title"> Bulidding a better working place
   <span class="span">We make hard look easy.</span>
 </h1>
 <a href="" class="button button-accent">See My Work</a>
 </section>

</header>
